extends layout

block content
	//- This is just a sample view rendered by our index controller.
	h1 Private Section

	//- Print the currently logged-in user's name
	h4 Welcome, #{user.username}!

	//- Choose ride form
	form.form-horizontal.new-goal(action='/ridelist', method='POST')
		fieldset
			legend Choose your ride goals:
			.form-group
				label.col-lg-2.control-label Ride City
				.col-lg-10
					input.form-control#ridecity(name='city'placeholder='City')
			.form-group
				label.col-lg-2.control-label Ride State
				.col-lg-10
					input.form-control#ridestate(placeholder='State')
			.form-group
				label.col-lg-2.control-label(for='select') Ride Time
				.col-lg-10
					select#rideTime.form-control
						option(data-id='30') 0-30mins
						option(data-id='45') 31-45mins
						option(data-id='60') 46-60mins
						option(data-id='90') 61-90mins
						option(data-id='120') 91-120mins
						option(data-id='121') 120mins+
			.form-group
				label.col-lg-2.control-label(for='select') Ride Distance
				.col-lg-10
					select#rideDistance.form-control
						option(data-id='5') 0-5mi
						option(data-id='15') 6-15mi
						option(data-id='25') 16-25mi
						option(data-id='35') 26-35mi
						option(data-id='50') 36-50mi
						option(data-id='75') 51-75mi
						option(data-id='100') 76-100mi
						option(data-id='101') 100mi+
			.form-group
				label.col-lg-2.control-label(for='select') Elevation Gain
				.col-lg-10
					select#rideElevation.form-control
						option(data-id='250') 0-250ft
						option(data-id='500') 251-500ft
						option(data-id='1000') 501-1000ft
						option(data-id='1500') 1001-1500ft
						option(data-id='2500') 1501-2500ft
						option(data-id='3500') 2501-3500ft
						option(data-id='4500') 3501-4500ft
						option(data-id='4501') 4500+
			.form-group
				.col-lg-10.col-lg-offset-2
					button.btn.btn-default.goal-cancel(type='reset') Cancel
					button.btn.btn-primary.goal-submit(type='submit') Submit
						


	//- Give users a link to log out of their account
	p: a(href="/auth/logout") Log out