extends layout

block content
	//- This is just a sample view rendered by our index controller.
	h1 Private Section

	//- Print the currently logged-in user's name
	h4 Welcome, #{user.username}!

	//- Choose ride form
	form.form-horizontal.new-goal
		fieldset
			legend Choose your ride goals:
			.form-group
				label.col-lg-2.control-label(for='select') Ride Time
				.col-lg-10
					select#rideTime.form-control
						option(data-id='30m') 0-30mins
						option(data-id='45m') 31-45mins
						option(data-id='60m') 46-60mins
						option(data-id='90m') 61-90mins
						option(data-id='120m') 91-120mins
						option(data-id='121m') 120mins+
			.form-group
				label.col-lg-2.control-label(for='select') Ride Distance
				.col-lg-10
					select#rideDistance.form-control
						option(data-id='5mi') 0-5mi
						option(data-id='15mi') 6-15mi
						option(data-id='25mi') 16-25mi
						option(data-id='35mi') 26-35mi
						option(data-id='50mi') 36-50mi
						option(data-id='75mi') 51-75mi
						option(data-id='100mi') 76-100mi
						option(data-id='101mi') 100mi+
			.form-group
				label.col-lg-2.control-label(for='select') Elevation Gain
				.col-lg-10
					select#rideElevation.form-control
						option(data-id='250ft') 0-250ft
						option(data-id='500ft') 251-500ft
						option(data-id='1000ft') 501-1000ft
						option(data-id='1500ft') 1001-1500ft
						option(data-id='2500ft') 1501-2500ft
						option(data-id='3500ft') 2501-3500ft
						option(data-id='4500ft') 3501-4500ft
						option(data-id='4501ft') 4500+
			.form-group
				.col-lg-10.col-lg-offset-2
					button.btn.btn-default.goal-cancel(type='reset') Cancel
					button.btn.btn-primary.goal-submit(type='submit') Submit


	//- Give users a link to log out of their account
	p: a(href="/auth/logout") Log out