extends layout

block content
	//- Error comes through via the context passed when calling res.render('login', {...})
	//- You'll see this in controllers/authentication.js
	//- If the error exists, we'll display it.
	if error
		h3= error

	h1.brand.text-warning.center Domestique:
		p Because you just want to ride.


	//- Form for handling existing user logins.
	h2.text-warning Sign In
	form(action="/auth/login", method="post")
		input(type="text", name="username", placeholder="Username")
		input(type="password", name="password", placeholder="Password")
		input(type="submit")

	//- Form for allowing new users to register.
	h2.text-warning Register
	form(action="/auth/signup", method="post")
		input(type="text", name="username", placeholder="Username")
		input(type="email", name="email", placeholder="Email")
		input(type="password", name="password", placeholder="Password")
		input(type="submit")