/*Header*/
.center {
	text-align: center;
}

.hide {
	display: none;
}

.show {
	display: visible;
}

.choice-box {
	margin: 25%;
}

.orange { 
	color: #f89406; 
}

.white {
	color: #ffffff;
}

.brand {
	font-size: 46px;
}

body {
	background-image: url("https://teampedal.files.wordpress.com/2012/12/mountains_roads_gotthard_pass_road_through_the_desktop_2560x1600_hd-wallpaper-720723.jpeg");
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.main {
	margin-top: 65px;
}

/* -------------- table formatting----------------*/

.thname {
	width: 30%;
}
.thmap {
	width: 21%;
}
.thloc {
	width: 20%;
}

/*----- Ride detail panels formatting---------*/

.panel-padding {
	padding: 10px 15px;
}

#map {     
	position: absolute;
    top: 5%;
    left: 33%;
    bottom: 5%;
    width: 66%;
}

#map-img {
	min-width: 213px;
	min-height: 125px;
	max-width: 640px;
	max-height: 375px;
	height: 100%;
	width: 100%;
}


.box-row2 {
	height: 22em;
	width:	30%;
}

.box-row3 {
	height: 17%;
	width:	100%;
}

.rideName {
	position: relative;
	left: 1em;
}

.box {
	position: relative;
	padding: 20px;
	border-radius: 5px;
	top: 35%;
	left: 13%;
	/*right: 35%;*/
	width: 65%;
	height: 55%;
	background-color: white;
}

.close-button {
	position: relative;
	top: -1%;
	left: 145%;
	float: right;
	/*display: inline-block;*/
	text-align: center;
	margin: auto;
	background-color: #f89406;
	padding: 7px 35px;
	border-radius: 5px;
}

.close-button  a {
	text-decoration: none;
	color: white;
}

.inline-block {
	display: inline-block;
}

.stats-box {
	float: right;
	width: 69%;
}

.data{
	margin: 1% 0%;
	width: 100%;
}

.data-style {
	width: 21%;
}

.float-left {
	position: relative;
	float: left;
}

.box-info {
	display: inline-block;
	top: 0em;
	width: 100%;
	height: 32%;
	margin-bottom: 0px;
}

.icon-bar {
	background-color: #f89406;	
}

.form-horizontal, legend {
	color: #f89406;
}